{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Grades Manager</h1>
    <div class="form">
        <form action="/" method="POST">
            <ul>
                <li>
                    <label >Nota 1: </label>
                    <input type="number" name="grade1" id="grade1" step="0.01" min="0" max="5" required>
                </li>
                <li>
                    <label >Nota 2: </label>
                    <input type="number" name="grade2" id="grade2" step="0.01" min="0" max="5" required>
                </li>
                <li>
                    <label >Nota 3: </label>
                    <input type="number" name="grade3" id="grade3" step="0.01" min="0" max="5" required>
                </li>
                <li>
                    <label >Nota 4: </label>
                    <input type="number" name="grade4" id="grade4" step="0.01" min="0" max="5" required>
                </li>
            </ul>
            <input class="button" type="submit" value="Calcular">
            {% if final %}
            <p>Nota Final: {{ final }}</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}